body{
    background-image: url(images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#user_img{
    width: 100px;
    height: 100px;
   border-radius: 50px;
}
.card1{
   margin-top: 100px;
   padding-top: 30px;
    width: 100mm;
    height:140mm;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    border: 2px solid white;
}
.content1{
    text-align: center;
}
.content2{
    padding: 20px;
}
#forget_pass{
    text-decoration: none;
    font-weight: bold;
}
